<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RadioPlayer.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <userSettings>
    <RadioPlayer.WinForms.Properties.Settings>
      <setting name="LyricsWebProvider" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LyricsWebUrl" serializeAs="String">
        <value>http://search.azlyrics.com/search.php?q=</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>1</value>
      </setting>
    </RadioPlayer.WinForms.Properties.Settings>
  </userSettings>
</configuration>